<h2>Imports</h2>

In [1]:
from census_database import Database
from helper import Helper
from frequency import Frequency
import numpy as np

<h2>Exercício 1</h2>
<h3>Juntar as bases, observe as colunas coincidentes, caso não exista utilize o indice.</h3>

In [2]:
database = Database()
database.data.head()

Census data READY!

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,...,1,1,0,0,0,2,1,0,0,1
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,...,0,1,0,0,0,3,1,0,0,2
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,...,0,0,0,0,0,0,0,0,0,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,...,0,0,0,0,0,1,0,0,0,0
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,...,1,0,0,0,0,3,0,0,0,1

<h2>Exercício 2</h2>
<h3>Faca um relatório no qual cada variável quantitativa deve ter:</h3>
<ul>
<li>Mínimo</li>
<li>Primeiro Quartil</li>
<li>Mediana</li>
<li>Terceiro Quartil</li>
<li>Máximo</li>
<li>Média</li>
</ul>

In [3]:
described_data = database.data[database.quanti].describe()
described_data = described_data.drop(labels=['std', 'count', '50%'], axis=0)
described_data = Helper.add_new_row(described_data, np.median, 'median')
described_data.round(2)

,Number of Personal Computer,Total Food Expenditure,Number of Component/Stereo set,Members with age 5 - 17 years old,Vegetables Expenditure,Education Expenditure,Total Fish and marine products Expenditure,Total Number of Family members,Number of Motorcycle/Tricycle,"Clothing, Footwear and Other Wear Expenditure",...,Miscellaneous Goods and Services Expenditure,Number of Television,House Floor Area,Number of CD/VCD/DVD,Special Occasions Expenditure,Total Household Income,Tobacco Expenditure,Agricultural Household indicator,Total Rice Expenditure,Restaurant and hotels Expenditure
mean,0.32,85099.16,0.16,1.36,5006.92,7473.5,10529.32,4.64,0.29,4954.62,...,12522.07,0.86,55.6,0.44,5265.73,247555.58,2294.74,0.43,18195.83,15436.57
min,0.00,2947.00,0.00,0.00,0.00,0.0,0.00,1.00,0.00,0.00,...,0.00,0.00,5.0,0.00,0.00,11285.00,0.00,0.00,0.00,0.00
25%,0.00,51017.25,0.00,0.00,2873.00,0.0,5504.00,3.00,0.00,1365.00,...,3792.00,0.00,25.0,0.00,0.00,104895.00,0.00,0.00,11020.00,1930.00
75%,0.00,105635.50,0.00,2.00,6304.25,4060.0,13388.00,6.00,0.00,5580.00,...,14154.00,1.00,70.0,1.00,5000.00,291138.50,3146.50,1.00,23920.00,19921.25
max,6.00,827565.00,5.00,8.00,74800.00,731000.0,188208.00,26.00,5.00,356750.00,...,553560.00,6.00,998.0,5.00,556700.00,11815988.00,139370.00,2.00,758326.00,725296.00
median,0.00,85099.16,0.00,1.36,5006.92,4060.0,10529.32,4.64,0.00,4954.62,...,12522.07,0.86,55.6,0.44,5000.00,247555.58,2294.74,0.43,18195.83,15436.57

<h2>Exercício 3</h2>
<h3>Trate os dados Outliers como faltantes e crie novamente o relatório para observarmos a diferenca:</h3>

<h2>Exercício 4</h2>
<h3>Trate os dados Outliers inserindo no lugar a mediana e crie novamente o relatório para observarmos a diferenca:</h3>

In [6]:
median_data = Helper.replace_outliers(database.data[database.quanti], described_data.loc['median'])

described_median_data = median_data.describe()
described_median_data = described_median_data.drop(labels=['std', 'count', '50%'], axis=0)
described_median_data = Helper.add_new_row(described_median_data, np.median, 'median')
described_median_data.round(2)

,Education Expenditure,Number of Motorcycle/Tricycle,House Age,Total Food Expenditure,Housing and water Expenditure,Crop Farming and Gardening expenses,Fruit Expenditure,Total Fish and marine products Expenditure,Number of Washing Machine,Number of Refrigerator/Freezer,...,Special Occasions Expenditure,"Clothing, Footwear and Other Wear Expenditure",Number of Motorized Banca,Transportation Expenditure,"Number of Car, Jeep, Van",Vegetables Expenditure,Number of Stove with Oven/Gas Range,Total number of family members employed,Alcoholic Beverages Expenditure,Number of CD/VCD/DVD
mean,1782.1,0.0,18.51,78114.71,29141.56,1935.99,2048.37,9433.73,0.32,0.39,...,2599.5,3391.38,0.0,8020.76,0.0,4577.16,0.0,1.25,622.12,0.42
min,0.0,0.0,0.00,2947.00,1950.00,0.00,0.00,0.00,0.00,0.00,...,0.0,0.00,0.0,0.00,0.0,0.00,0.0,0.00,0.00,0.00
25%,0.0,0.0,10.00,51017.25,13080.00,0.00,1024.75,5504.00,0.00,0.00,...,0.0,1365.00,0.0,2412.00,0.0,2873.00,0.0,0.00,0.00,0.00
75%,4060.0,0.0,25.00,98095.00,38375.47,6312.19,2640.00,12285.25,1.00,1.00,...,5000.0,4954.62,0.0,11806.34,0.0,5885.00,0.0,2.00,1085.07,1.00
max,10150.0,0.0,50.00,187504.00,95250.00,15780.00,6212.00,25200.00,2.00,2.00,...,12500.0,11900.00,0.0,30822.00,0.0,11450.00,0.0,5.00,3248.00,2.00
median,1782.1,0.0,18.51,78114.71,29141.56,1935.99,2048.37,9433.73,0.32,0.39,...,2599.5,3391.38,0.0,8020.76,0.0,4577.16,0.0,1.25,622.12,0.42

Nos gráficos abaixo podemos observar que o tratamento suaviza bastante a distribuição, uma vez que trata todos os valores muito dispares como o valor mediano. No entanto, apenas uma análise mais profunda poderia fornecer informações em como tal tratamento poderia afetar nossas análises (ou métodos de *Machine Learning*), uma vez que existem muitos dados na categoria 'Outlier'.

In [ ]:
Helper.boxplot((database.data, 'Dados Não Tratados'),(median_data, 'Outliers substituidos pelo valor Mediano'), column_name='Total Household Income')

<h2>Exercício 5</h2>
<h3>Faca um relatório no qual cada variável qualitativa deve ter:</h3>
<ul>
<li>Frequência Absoluta</li>
<li>Frequência Acumulada</li>
<li>Frequência Relativa</li>
<li>Frequência Relativa Acumulada</li>
</ul>

In [5]:
report = Frequency(database.data[database.quali], columns=database.quali).show()
print(report)

{'Household Head Sex':         Absolute  Relative  Absolute accumulated  Relative accumulated
Male       32483  0.781894                 32483              0.781894
Female      9061  0.218106                 41544              1.000000, 'Household Head Class of Worker':                                                     Absolute  Relative  \
Self-employed wihout any employee                      13766  0.404787
Worked for private establishment                       13731  0.403758
Worked for government/government corporation            2820  0.082922
Employer in own family-operated farm or business        2581  0.075894
Worked for private household                             811  0.023847
Worked without pay in own family-operated farm ...       285  0.008380
Worked with pay in own family-operated farm or ...        14  0.000412

                                                    Absolute accumulated  \
Self-employed wihout any employee                                  13766
Worked for private establishment                                   27497
Worked for government/government corporation                       30317
Employer in own family-operated farm or business                   32898
Worked for private household                                       33709
Worked without pay in own family-operated farm ...                 33994
Worked with pay in own family-operated farm or ...                 34008

                                                    Relative accumulated
Self-employed wihout any employee                               0.404787
Worked for private establishment                                0.808545
Worked for government/government corporation                    0.891467
Employer in own family-operated farm or business                0.967361
Worked for private household                                    0.991208
Worked without pay in own family-operated farm ...              0.999588
Worked with pay in own family-operated farm or ...              1.000000  , 'Region':    Absolute  Relative  Absolute accumulated  Relative accumulated
H      4162  0.100183                  4162              0.100183
N      4130  0.099413                  8292              0.199596
F      3237  0.077917                 11529              0.277513
C      2851  0.068626                 14380              0.346139
I      2541  0.061164                 16921              0.407303
D      2472  0.059503                 19393              0.466806
K      2446  0.058877                 21839              0.525684
M      2348  0.056518                 24187              0.582202
L      2337  0.056254                 26524              0.638456
E      2248  0.054111                 28772              0.692567
G      2219  0.053413                 30991              0.745980
P      2122  0.051078                 33113              0.797059
J      1887  0.045422                 35000              0.842480
Q      1788  0.043039                 36788              0.885519
B      1782  0.042894                 38570              0.928413
A      1725  0.041522                 40295              0.969935
O      1249  0.030065                 41544              1.000000, 'Main Source of Income':                             Absolute  Relative  Absolute accumulated  \
Wage/Salaries                  20388  0.490757                 20388
Other sources of Income        10836  0.260832                 31224
Enterpreneurial Activities     10320  0.248411                 41544

                            Relative accumulated
Wage/Salaries                           0.490757
Other sources of Income                 0.751589
Enterpreneurial Activities              1.000000  , 'Household Head Marital Status':                     Absolute  Relative  Absolute accumulated  \
Married                31347  0.754549                 31347
Widowed                 6818  0.164115                 38165
Single                  1942  0.046746                 40107
Divorced/Separated      1425  0.034301                 41532
Annulled                  11  0.000265                 41543
Unknown                    1  0.000024                 41544

                    Relative accumulated
Married                         0.754549
Widowed                         0.918665
Single                          0.965410
Divorced/Separated              0.999711
Annulled                        0.999976
Unknown                         1.000000  , 'Type of Building/House':                                              Absolute  Relative  \
Single house                                    39069  0.940425
Multi-unit residential                           1329  0.031990
Duplex                                           1084  0.026093
Commercial/industrial/agricultural building        51  0.001228
Institutional living quarter                        9  0.000217
Other building unit                                 2  0.000048

                                             Absolute accumulated  \
Single house                                                39069
Multi-unit residential                                      40398
Duplex                                                      41482
Commercial/industrial/agricultural building                 41533
Institutional living quarter                                41542
Other building unit                                         41544

                                             Relative accumulated
Single house                                             0.940425
Multi-unit residential                                   0.972415
Duplex                                                   0.998508
Commercial/industrial/agricultural building              0.999735
Institutional living quarter                             0.999952
Other building unit                                      1.000000  , 'Electricity':    Absolute  Relative  Absolute accumulated  Relative accumulated
1     37008  0.890815                 37008              0.890815
0      4536  0.109185                 41544              1.000000, 'Type of Household':                                         Absolute  Relative  \
Single Family                              28445  0.684696
Extended Family                            12932  0.311284
Two or More Nonrelated Persons/Members       167  0.004020

                                        Absolute accumulated  \
Single Family                                          28445
Extended Family                                        41377
Two or More Nonrelated Persons/Members                 41544

                                        Relative accumulated
Single Family                                       0.684696
Extended Family                                     0.995980
Two or More Nonrelated Persons/Members              1.000000  , 'Type of Walls':                 Absolute  Relative  Absolute accumulated  Relative accumulated
Strong             27739  0.667702                 27739              0.667702
Light               8267  0.198994                 36006              0.866696
Quite Strong        3487  0.083935                 39493              0.950631
Very Light          1583  0.038104                 41076              0.988735
Salvaged             456  0.010976                 41532              0.999711
NOt applicable        12  0.000289                 41544              1.000000}

<h2>Exercício 6</h2>
<h3>Separe os 10% com maior renda(Ordem decrescente) em um novo csv</h3>

<h2>Exercício 7</h2>
<h3>Criar os dummies para pelo menos 3 das variáveis qualitativas</h3>

<h2>Exercício 8</h2>
<h3>Compare a média das variáveis(Quantitativos + 3 Qualitativas) da populacão dos 10% com maior renda vs o restante</h3>