<h2>Imports</h2>

In [1]:
from census_database import Database

<h2>Exercício 1</h2>
<h3>Juntar as bases, observe as colunas coincidentes, caso não exista utilize o indice.</h3>

In [5]:
database = Database()
database.data.head()

Census data READY!

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,...,1,1,0,0,0,2,1,0,0,1
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,...,0,1,0,0,0,3,1,0,0,2
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,...,0,0,0,0,0,0,0,0,0,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,...,0,0,0,0,0,1,0,0,0,0
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,...,1,0,0,0,0,3,0,0,0,1

<h2>Exercício 2</h2>
<h3>Faca um relatório no qual cada variável quantitativa deve ter:</h3>
<ul>
<li>Mínimo</li>
<li>Primeiro Quartil</li>
<li>Mediana</li>
<li>Terceiro Quartil</li>
<li>Máximo</li>
<li>Média</li>
</ul>

<h2>Exercício 3</h2>
<h3>Trate os dados Outliers como faltantes e crie novamente o relatório para observarmos a diferenca:</h3>

<h2>Exercício 4</h2>
<h3>Trate os dados Outliers inserindo no lugar a mediana e crie novamente o relatório para observarmos a diferenca:</h3>

<h2>Exercício 5</h2>
<h3>Faca um relatório no qual cada variável qualitativa deve ter:</h3>
<ul>
<li>Frequência Absoluta</li>
<li>Frequência Acumulada</li>
<li>Frequência Relativa</li>
<li>Frequência Relativa Acumulada</li>
</ul>

<h2>Exercício 6</h2>
<h3>Separe os 10% com maior renda(Ordem decrescente) em um novo csv</h3>

<h2>Exercício 7</h2>
<h3>Criar os dummies para pelo menos 3 das variáveis qualitativas</h3>

<h2>Exercício 8</h2>
<h3>Compare a média das variáveis(Quantitativos + 3 Qualitativas) da populacão dos 10% com maior renda vs o restante</h3>