<h2>Imports</h2>

In [1]:
from census_database import Database
from helper import Helper
import numpy as np

<h2>Exercício 1</h2>
<h3>Juntar as bases, observe as colunas coincidentes, caso não exista utilize o indice.</h3>

In [2]:
database = Database()
database.data.head()

Census data READY!

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,...,1,1,0,0,0,2,1,0,0,1
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,...,0,1,0,0,0,3,1,0,0,2
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,...,0,0,0,0,0,0,0,0,0,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,...,0,0,0,0,0,1,0,0,0,0
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,...,1,0,0,0,0,3,0,0,0,1

<h2>Exercício 2</h2>
<h3>Faca um relatório no qual cada variável quantitativa deve ter:</h3>
<ul>
<li>Mínimo</li>
<li>Primeiro Quartil</li>
<li>Mediana</li>
<li>Terceiro Quartil</li>
<li>Máximo</li>
<li>Média</li>
</ul>

In [3]:
described_data = database.data[database.quanti].describe()
described_data = described_data.drop(labels=['std', 'count', '50%'], axis=0)
described_data = Helper.add_new_row(described_data, np.median, 'median')
described_data.round(2)

,Meat Expenditure,Special Occasions Expenditure,Bread and Cereals Expenditure,Restaurant and hotels Expenditure,House Age,House Floor Area,Total number of family members employed,Total Food Expenditure,Total Fish and marine products Expenditure,Total Number of Family members,...,Miscellaneous Goods and Services Expenditure,Transportation Expenditure,Number of Washing Machine,Number of Refrigerator/Freezer,Number of Landline/wireless telephones,Household Head Age,Crop Farming and Gardening expenses,Number of Motorcycle/Tricycle,Total Household Income,Housing and water Expenditure
mean,10540.07,5265.73,25133.72,15436.57,20.13,55.6,1.27,85099.16,10529.32,4.64,...,12522.07,11806.34,0.32,0.39,0.06,51.38,13816.86,0.29,247555.58,38375.47
min,0.00,0.00,0.00,0.00,0.00,5.0,0.00,2947.00,0.00,1.00,...,0.00,0.00,0.00,0.00,0.00,9.00,0.00,0.00,11285.00,1950.00
25%,3353.75,0.00,16556.00,1930.00,10.00,25.0,0.00,51017.25,5504.00,3.00,...,3792.00,2412.00,0.00,0.00,0.00,41.00,0.00,0.00,104895.00,13080.00
75%,14292.00,5000.00,31439.00,19921.25,26.00,70.0,2.00,105635.50,13388.00,6.00,...,14154.00,13776.00,1.00,1.00,0.00,61.00,6312.75,0.00,291138.50,45948.00
max,261566.00,556700.00,765864.00,725296.00,200.00,998.0,8.00,827565.00,188208.00,26.00,...,553560.00,834996.00,3.00,5.00,4.00,99.00,3729973.00,5.00,11815988.00,2188560.00
median,10540.07,5000.00,25133.72,15436.57,20.13,55.6,1.27,85099.16,10529.32,4.64,...,12522.07,11806.34,0.32,0.39,0.00,51.38,6312.75,0.00,247555.58,38375.47

<h2>Exercício 3</h2>
<h3>Trate os dados Outliers como faltantes e crie novamente o relatório para observarmos a diferenca:</h3>

<h2>Exercício 4</h2>
<h3>Trate os dados Outliers inserindo no lugar a mediana e crie novamente o relatório para observarmos a diferenca:</h3>

<h2>Exercício 5</h2>
<h3>Faca um relatório no qual cada variável qualitativa deve ter:</h3>
<ul>
<li>Frequência Absoluta</li>
<li>Frequência Acumulada</li>
<li>Frequência Relativa</li>
<li>Frequência Relativa Acumulada</li>
</ul>

<h2>Exercício 6</h2>
<h3>Separe os 10% com maior renda(Ordem decrescente) em um novo csv</h3>

<h2>Exercício 7</h2>
<h3>Criar os dummies para pelo menos 3 das variáveis qualitativas</h3>

<h2>Exercício 8</h2>
<h3>Compare a média das variáveis(Quantitativos + 3 Qualitativas) da populacão dos 10% com maior renda vs o restante</h3>