<h2>Imports</h2>

In [4]:
from census_database import Database
from helper import Helper

<h2>Exercício 1</h2>
<h3>Juntar as bases, observe as colunas coincidentes, caso não exista utilize o indice.</h3>

In [5]:
database = Database()
database.data.head()

Census data READY!

,ID,Region,Main Source of Income,Agricultural Household indicator,Household Head Sex,Household Head Age,Household Head Marital Status,Household Head Class of Worker,Type of Household,Total Number of Family members,...,Number of Refrigerator/Freezer,Number of Washing Machine,Number of Airconditioner,"Number of Car, Jeep, Van",Number of Landline/wireless telephones,Number of Cellular phone,Number of Personal Computer,Number of Stove with Oven/Gas Range,Number of Motorized Banca,Number of Motorcycle/Tricycle
0,1,A,Wage/Salaries,0,Female,49,Single,Worked for government/government corporation,Extended Family,4,...,1,1,0,0,0,2,1,0,0,1
1,2,A,Wage/Salaries,0,Male,40,Married,Worked for private establishment,Single Family,3,...,0,1,0,0,0,3,1,0,0,2
2,3,A,Wage/Salaries,1,Male,39,Married,Worked for private establishment,Single Family,6,...,0,0,0,0,0,0,0,0,0,0
3,4,A,Wage/Salaries,0,Male,52,Married,Employer in own family-operated farm or business,Single Family,3,...,0,0,0,0,0,1,0,0,0,0
4,5,A,Wage/Salaries,0,Male,65,Married,Self-employed wihout any employee,Single Family,4,...,1,0,0,0,0,3,0,0,0,1

<h2>Exercício 2</h2>
<h3>Faca um relatório no qual cada variável quantitativa deve ter:</h3>
<ul>
<li>Mínimo</li>
<li>Primeiro Quartil</li>
<li>Mediana</li>
<li>Terceiro Quartil</li>
<li>Máximo</li>
<li>Média</li>
</ul>

In [7]:
described_data = database.data[database.quanti].describe()
described_data = described_data.drop(labels=['std', 'count', '50%'], axis=0)
described_data = Helper.add_median_row(described_data)
described_data.round(2)

,Meat Expenditure,Tobacco Expenditure,Number of Television,Vegetables Expenditure,Alcoholic Beverages Expenditure,Total Rice Expenditure,Number of Motorized Banca,Number of Airconditioner,Number of Stove with Oven/Gas Range,Total number of family members employed,...,Bread and Cereals Expenditure,House Age,Imputed House Rental Value,House Floor Area,Restaurant and hotels Expenditure,"Clothing, Footwear and Other Wear Expenditure",Number of Component/Stereo set,Total Food Expenditure,Medical Care Expenditure,Miscellaneous Goods and Services Expenditure
mean,10540.07,2294.74,0.86,5006.92,1085.07,18195.83,0.01,0.13,0.14,1.27,...,25133.72,20.13,20921.54,55.6,15436.57,4954.62,0.16,85099.16,7160.23,12522.07
min,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,5.0,0.00,0.00,0.00,2947.00,0.00,0.00
25%,3353.75,0.00,0.00,2873.00,0.00,11020.00,0.00,0.00,0.00,0.00,...,16556.00,10.00,6000.00,25.0,1930.00,1365.00,0.00,51017.25,300.00,3792.00
75%,14292.00,3146.50,1.00,6304.25,1299.25,23920.00,0.00,0.00,0.00,2.00,...,31439.00,26.00,24000.00,70.0,19921.25,5580.00,0.00,105635.50,4680.00,14154.00
max,261566.00,139370.00,6.00,74800.00,59592.00,758326.00,3.00,5.00,3.00,8.00,...,765864.00,200.00,1920000.00,998.0,725296.00,356750.00,5.00,827565.00,1049275.00,553560.00
median,10540.07,2294.74,0.86,5006.92,1085.07,18195.83,0.00,0.00,0.00,1.27,...,25133.72,20.13,20921.54,55.6,15436.57,4954.62,0.00,85099.16,4680.00,12522.07

<h2>Exercício 3</h2>
<h3>Trate os dados Outliers como faltantes e crie novamente o relatório para observarmos a diferenca:</h3>

<h2>Exercício 4</h2>
<h3>Trate os dados Outliers inserindo no lugar a mediana e crie novamente o relatório para observarmos a diferenca:</h3>

<h2>Exercício 5</h2>
<h3>Faca um relatório no qual cada variável qualitativa deve ter:</h3>
<ul>
<li>Frequência Absoluta</li>
<li>Frequência Acumulada</li>
<li>Frequência Relativa</li>
<li>Frequência Relativa Acumulada</li>
</ul>

<h2>Exercício 6</h2>
<h3>Separe os 10% com maior renda(Ordem decrescente) em um novo csv</h3>

<h2>Exercício 7</h2>
<h3>Criar os dummies para pelo menos 3 das variáveis qualitativas</h3>

<h2>Exercício 8</h2>
<h3>Compare a média das variáveis(Quantitativos + 3 Qualitativas) da populacão dos 10% com maior renda vs o restante</h3>